.profile__edit-btn{
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent center url(../../../images/edit__button.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    margin-left: auto;
    margin-top: 15px;
    padding: 0;
    transition: 0.7s;
}

.profile__edit-btn:hover{
    opacity: 0.5;
}

@media screen and (max-width: 750px) {
    .profile__edit-btn {
        width: 18px;
        height: 18px;
        margin-left: 10px;
        margin-top: 8px;
    }
}