.popup__image_type_entry{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 60px auto 0;
}


@media screen and (max-width: 750px) {
    .popup__image_type_entry {
        margin: 50px auto 0;
    }
}
