.popup__input-error{
    position: absolute;
    opacity: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FF0000;
    top: 35px;
    left: 0px;
}



@media screen and (max-width: 750px) {
    .popup__input-error {
        top: 35px;
        left: 0px; 
    }

}