.footer__copyright{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color:  #545454;
    align-self: flex-start;
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (max-width: 750px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 17px;
    }
}