.card__like-btn{
    width: 22px;
    height: 19px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0 none;
    color: white;
    background: transparent center url(../../../images/like_button.svg);
    background-size: auto;
    background-repeat: no-repeat;
    transition: 0.7s;
}

.card__like-btn:hover{
    opacity: 0.5;
}