.footer{
    margin: auto;
    margin-top: 66px;
    max-width: 880px;
    padding-bottom: 60px;
}

@media screen and (max-width: 1023px) {
    .footer {
        max-width: calc((880/1024)*100%);
        margin-top: 48px;
        padding-bottom: 36px;
    }
}

@media screen and (max-width: 750px) {
    .footer {
        max-width: 282px;
    }
}