.popup__title_type_entry{
    margin: 32px auto 60px;
    max-width: 358px;
    text-align: center;
}

@media screen and (max-width: 750px) {
    .popup__title_type_entry {
        max-width: 244px;
        font-size: 20px;
        line-height: 24px;
        margin: 40px auto 50px;
    }
}