.popup__close-btn_type_s{
    height: 32px;
    width: 32px;
    top: -36px;
    right: -36px;
    background: transparent center url(../../../../images/close__button.svg);
    background-size: auto;
    background-repeat: no-repeat;
    
}

@media screen and (max-width: 750px) {
    .popup__close-btn_type_s{
        background: transparent center url(../../../../images/close__button_s.svg);
        background-size: auto;
        background-repeat: no-repeat;
        top: -36px;
        right: 0;
        width: 20px;
        height: 20px;
    }
}