.popup__close-btn{
    position: absolute;
    padding: 0;
    margin: 0;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    background: transparent center url(../../../images/close__button.svg);
    background-size: auto;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    transition: 0.7s;
}

.popup__close-btn:hover{
    opacity: 0.5;
}
@media screen and (max-width: 750px) {
    .popup__close-btn {
        background: transparent center url(../../../images/close__button_s.svg);
        background-size: auto;
        background-repeat: no-repeat;
        top: -39px;
        right: -3px;
        width: 26px;
        height: 26px;
    }
}