.header__button{
    display: none;
    width: 20px;
    height: 20px;
    border: none;
    margin-right: 30px;
    background: none;
}

@media screen and (max-width: 750px) {
    .header__button{
        display: block;
    }
}


